*{
 padding: 0;
 margin: 0; 
}

header{
  width : 100%;
  display : flex;
  place-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer {
  background-color: rgb(170, 170, 170);
  width : 100%;
  display : flex;
  place-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section p{
  margin-top: 1.5rem;
}

section div{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background:rgb(245, 245, 245);
}

section span{
  padding-right: 1rem;
  padding-left: 1rem;
}

