<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('seo') %>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <%- include("navbar") %>
    <%- body %>
    <%- include("footer") %>

    <% if(_production){ %>
    <script src="/js/main.js"></script>
    <% }else{ %>
    <script src="/js/main.js"></script>
    <% } %>
  </body>

</html>