---
{
title: 'picogen',
}
---

<section>
  <h2>Installation</h2>
  <p>Install picogen</p>
  <div>
    $ npm install -g picogen
  </div>
</section>
<section>
  <h2>Setup</h2>
  <p>create a project folder</p>
  <div>
    $ mkdir new-project
  </div>
  <p>iniatilze picogen (this will initaize the starter files)</p>
  <div>
    $ picogen init
  </div>
</section>
<section>
  <h2>Use</h2>
  <p>starting server (this will strat the server on a already created project)</p>
  <div>
    $ picogen
  </div>
  <span>or</span>
  <div>
    $ picogen server
  </div>
  <p>starting server with no auto reaload</p>
  <div>
    $ picogen server na
  </div>
  <p>generate (this will crete a new public folder with all the generated content)</p>
  <div>
    $ picogen generate
  </div>
  <p>generate files with sitemap (this will create a sitemap.xml in your public folder)</p>
  <div>
    $ picogen generate s
  </div>
  <p>clean (removes db.json and /public)</p>
  <div>
    $ picogen clean
  </div>
</section>