---
{
title: 'picogen',
layout : 'docslayout'
}
---
<section class="space-y-8">
  <h2 class="text-4xl">Commands</h2>

  <section class="space-y-5">
    <h2 class="text-xl">Initialization</h2>
    <p><code>$ picogen init</code></p>
  </section>

  <section class="space-y-5">
    <h2 class="text-xl">Generate</h2>
    <p><code>$ picogen generate</code></p>
    <p>Generates static files.</p>
  </section>

  <section class="space-y-5">
    <h2 class="text-xl">Server</h2>
    <p><code>$ picogen server</code></p>
    <p>Starts the server.</p>
  </section>

  <section class="space-y-5">
    <h2 class="text-xl">Clean</h2>
    <p><code>$ picogen clean</code></p>
    <p>Cleans the cache file (db.json) and generated files (public).</p>
  </section>
</section>
