---
{
title: 'picogen',
layout : 'docslayout'
}
---
<section class="space-y-8">
  <h2 class="text-4xl">Commands</h2>

  <section class="space-y-5">
    <h2 class="text-xl">Initialization</h2>
    <p><code>$ picogen init</code></p>
  </section>

  <section class="space-y-5">
    <h2 class="text-xl">Generate</h2>
    <p><code>$ picogen generate</code></p>
    <p>Generates static files.</p>
    <table class="border">
      <tr>
        <td class="px-3 py-2 font-bold">Arguments</td>
        <td class="px-3 py-2 font-bold">Descriptoin</td>
        <td class="px-3 py-2 font-bold">type</td>
      </tr>
      <tr>
        <td class="px-3 py-2">-s</td>
        <td class="px-3 py-2">to generate sitemap</td>
        <td class="px-3 py-2">Bool</td>
      </tr>
      <tr>
        <td class="px-3 py-2">-f</td>
        <td class="px-3 py-2">to generate feed for blogs/articles</td>
        <td class="px-3 py-2">Bool</td>
      </tr>
      <tr>
        <td class="px-3 py-2">-p</td>
        <td class="px-3 py-2">to run in production mode.</td>
        <td class="px-3 py-2">Bool</td>
      </tr>
    </table>
  </section>

  <section class="space-y-5">
    <h2 class="text-xl">Server</h2>
    <p><code>$ picogen server</code></p>
    <p>Starts the server.</p>
    <table class="border">
      <tr>
        <td class="px-3 py-2 font-bold">Arguments</td>
        <td class="px-3 py-2 font-bold">Descriptoin</td>
        <td class="px-3 py-2 font-bold">type</td>
      </tr>
      <tr>
        <td class="px-3 py-2">-P</td>
        <td class="px-3 py-2">to specify port.</td>
        <td class="px-3 py-2">Number</td>
      </tr>
      <tr>
        <td class="px-3 py-2">-n</td>
        <td class="px-3 py-2">server with no auto reload.</td>
        <td class="px-3 py-2">Bool</td>
      </tr>
      <tr>
        <td class="px-3 py-2">-p</td>
        <td class="px-3 py-2">to run in production mode.</td>
        <td class="px-3 py-2">Bool</td>
      </tr>
      <tr>
        <td class="px-3 py-2">-i</td>
        <td class="px-3 py-2">to specify wait time for auto reload( in ms ).</td>
        <td class="px-3 py-2">Number</td>
      </tr>
    </table>
  </section>

  <section class="space-y-5">
    <h2 class="text-xl">Clean</h2>
    <p><code>$ picogen clean</code></p>
    <p>Cleans the cache file (db.json) and generated files (public).</p>
  </section>
</section>
