---
{
title: 'picogen',
}
---
<div>
  <h1 class="text-4xl">Documentation</h1>
  <p>
    Welcome to the Picogen documentatio.
  </p>

  <h2 class="text-3xl">What is picogen</h2>
  <p>
    Picogen is a fast and simple static website generator framework. You write pages in ejs/html and picogen generates static files in seconds.
  </p>
</div>
