---
{
title: 'picogen',
layout : 'docslayout'
}
---
<div>
  <h2 class="text-4xl mb-8">Page Settings</h2>

  <p class="mb-5">you can modify page settings in the greay matter section</p>

  <table class="border">
    <tr>
      <td class="p-2 px-3 font-bold capitalize">settings</td>
      <td class="p-2 px-4 font-bold capitalize">description</td>
      <td class="p-2 px-3 font-bold capitalize">type</td>
    </tr>
    <% site.data.info.pageSetting.forEach(data => { %>
      <tr>
        <td class="p-2 px-3"><%- data.settings %></td>
        <td class="p-2 px-4"><%- data.description %></td>
        <td class="p-2 px-3"><%- data.type %></td>
      </tr>
    <% }); %>
  </table>
</div>
