---
{
title: 'picogen',
layout : 'docslayout'
}
---
<section class="space-y-5">
  <h2 class="text-4xl">Page Settings</h2>

  <section class="space-y-5">
    <p>you can modify page settings in the greay matter section</p>
    <table class="border">
      <tr>
        <td class="p-2 px-3 font-bold capitalize">settings</td>
        <td class="p-2 px-4 font-bold capitalize">description</td>
        <td class="p-2 px-3 font-bold capitalize">type</td>
      </tr>
      <tr>
        <td class="p-2 px-3">created</td>
        <td class="p-2 px-4">When the file is created. (optional)</td>
        <td class="p-2 px-3">String</td>
      </tr>
      <tr>
        <td class="p-2 px-3">modified</td>
        <td class="p-2 px-4">When the file is modified. (optional)</td>
        <td class="p-2 px-3">String</td>
      </tr>
      <tr>
        <td class="p-2 px-3">layout</td>
        <td class="p-2 px-4">page layout (optional)</td>
        <td class="p-2 px-3">String</td>
      </tr>
      <tr>
        <td class="p-2 px-3">renderInLayout</td>
        <td class="p-2 px-4">It will render the page content after rendering the specific layout file.</td>
        <td class="p-2 px-3">Bool</td>
      </tr>
      <tr>
        <td class="p-2 px-3">noindex</td>
        <td class="p-2 px-4">It stop the indexing of page/post in sitemap and feed.</td>
        <td class="p-2 px-3">Bool</td>
      </tr>
      <tr>
        <td class="p-2 px-3">image</td>
        <td class="p-2 px-4">it will set the feed image for post page in feed.</td>
        <td class="p-2 px-3">Bool</td>
      </tr>
      <tr>
        <td class="p-2 px-3">auther</td>
        <td class="p-2 px-4">it will set the auther name image for post page in feed.</td>
        <td class="p-2 px-3">Bool</td>
      </tr>
    </table>
  </section>
</section>
