---
{
title: 'picogen',
layout : 'docslayout'
}
---
<section class="space-y-8">
  <h2 class="text-4xl">Setup</h2>

  <section class="space-y-5">
    <p>After installing the picogen run the folloing commands to initialize picogen.</p>
    <p>
      <code>
        $ mkdir &#60;project_folder&#62;
        <br>
        $ cd &#60;project_folder&#62;
        <br>
        $ picogen init
      </code>
    </p>
    <p>Once initialized, here’s what your project folder will look like:</p>
    <code>
      <pre>
.
└──src
├── _component/
├── _create/
├── _data/
├── _static/
├── _temlate/
├── pages/
└── posts/
      </pre>
    </code>
  </section>
</section>