<header>
  <div class="flex w-full container mx-auto justify-between">
    <h1>Picogen</h1>
    <nav class="flex space-x-5">
      <a href="<%- page.srcfix %>">home</a>
      <a href="<%- page.srcfix %>docs">docs</a>
    </nav>
  </div>
</header>