<header class="py-2 px-4 md:px-8 bg-neutral-900 text-white">
  <div class="flex w-full container mx-auto justify-between">
    <a href="<%- page.srcfix %>" class="text-2xl">PICOGEN</a>
    <nav class="hidden md:flex md:space-x-8">
      <a href="<%- page.srcfix %>">Home</a>
      <a href="<%- page.srcfix %>docs">Docs</a>
    </nav>
    <span class="md:hidden">
      nav
    </span>
  </div>
</header>