<header class="py-2 px-4 md:px-8 bg-neutral-900 text-white">
  <div class="flex w-full container mx-auto justify-between items-center">
    <a href="/">
      <img src="/img/logo-white.png" class="h-10" alt="">
    </a>
    <nav class="hidden md:flex md:space-x-8">
      <a href="/">Home</a>
      <a href="/docs">Docs</a>
    </nav>
    <span x-on:click="open = !open" :class="open ? 'z-[100] text-black' : ' text-white'" class="md:hidden fill-current">
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6">
        <path
          d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z" />
      </svg>
    </span>
  </div>
</header>
<!-- offcanvas menu -->
<div :class="open ? '-translate-x-0' : '-translate-x-full'"
  class="fixed w-screen h-screen z-20 left-0 top-0 bg-white transition-all duration-300 delay-100 ease-[cubic-bezier(0.55,0,1,0.45)] flex flex-col justify-center items-center space-y-5">
  <a href="/" class="text-xl">Home</a>
  <a href="/docs" class="text-xl">Docs</a>
</div>