<div>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="/quick-start">Quick-Start</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="/setup">Setup</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="/commands">Commands</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="/configuration">Configuration</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="/page-settings">Page-Settings</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="/variables">Variables</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="/functions">Functions</a>
</div>